.card {
  min-height: 35px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;

  &__title {
    color: rgb(23, 43, 77);
    word-wrap: anywhere;
    padding-bottom: 0.5rem;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}
