.dashboard {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  overflow: hidden scroll;

  .container {
    width: 900px;
    height: calc(100vh - 6rem);
    margin-left: 1rem;
    padding-top: 3rem;
  }
}
