.signup {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 2.85rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;

    &__item {
      display: flex;
      flex-direction: column;
      font-weight: lighter;
      width: 100%;
      font-size: 1.2rem;
    }

    .signup-button {
      width: 100%;
      padding: 0.5rem;
      margin-top: 0.5rem;
      color: hsl(0, 0%, 55%);
      background: #edeff0;
      font-size: 1.5rem;
      font-weight: 700;
      border: 1px solid #edeff0;
      border-radius: 4px;
    }

    .signup-button--enabled {
      background: #61bd4f;
      color: #fff;
      cursor: pointer;
    }

    &__input {
      padding: 1rem;
      margin: 1rem 0;
      font-family: inherit;
      line-height: 1.15;
      width: 400px;
      background-color: #edeff0;
      border: 1px solid #edeff0;
      border-radius: 4px;
    }

    &__error {
      background-color: #ff0000;
      color: #fff;
      font-size: 1rem;
      align-self: center;
      width: 400px;
      word-break: keep-all;
      padding: 0.5rem;
      border-radius: 4px;
    }

    &__input--error {
      border-color: #ff0000;
    }
  }
}
