.list {
  width: 300px;
  height: max-content;
  display: flex;
  flex-direction: column;
  background: rgb(223, 225, 230);
  border-radius: 4px;
  margin-left: 0.5rem;

  &-cards {
    min-height: 1rem;
    max-height: 80vh;
    overflow: hidden scroll;
  }

  &__header {
    padding-left: 1rem;
    padding-top: 0.6rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__button {
    background: transparent;
    padding: 0.7rem 1rem;
    text-align: start;
    color: #6b778c;

    .fa-plus::before {
      margin-right: 0.3rem;
      font-size: 0.9rem;
    }

    &:hover {
      background-color: rgba(9, 30, 66, 0.13);
      color: #172b4d;
      text-decoration: underline;
    }
  }

  .list-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    &__inner {
      height: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 0.2rem;
      align-items: center;
      margin-top: 0.3rem;

      .list-form__button--submit {
        background-color: rgb(90, 172, 68);
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 4px;
      }

      .list-form__button--close {
        background: transparent;

        .fa-times::before {
          font-size: 1.2rem;
          color: rgb(122, 134, 154);
        }
      }
    }

    &__textarea {
      width: 100%;
      padding: 0.5rem;
      border-radius: 4px;
      border: none;
      resize: none;
    }
  }
}
