.create-board-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.create-board-form {
  position: relative;
  top: 3.7rem;
  width: 490px;
  margin: 0 auto;

  .board-form {
    display: flex;
    flex-direction: column;

    &__container {
      display: flex;
    }

    &__inner {
      width: 350px;
      height: 120px;
      background-size: cover;
      background-position: 50%;
      border-radius: 4px;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.4);
      }

      .close-button {
        background: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 1.1rem;
        right: 1.2rem;

        .fa-times::before {
          color: #fff;
          font-size: 0.9rem;
        }
      }
    }

    &__input {
      border: none;
      position: relative;
      top: 20px;
      color: #fff;
      font-weight: 700;
      background: transparent;
      padding: 0.5rem;
      margin: 0 1rem;
      border-radius: 4px;

      &:focus,
      &:hover {
        background: hsla(0, 0%, 100%, 0.3);
      }
    }

    .background {
      width: 120px;
      margin-left: 0.5rem;

      &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &__item {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-bottom: 0.4rem;

        .fa-ellipsis-h::before {
          color: rgba(0, 0, 0, 0.4);
        }

        .fa-check::before {
          color: #fff;
          font-size: 1.3rem;
          position: relative;
        }
      }

      &__button {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;

        &--active {
          background-color: rgba(0, 0, 0, 0.4);

          &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.4);
          }
        }

        &--options {
          background-color: #fff;
        }
      }
    }

    &__submit-button {
      width: 27%;
      font-size: 1rem;
      padding: 0.7rem 0.1rem;
      margin-top: 0.5rem;
      font-weight: 700;
      border: none;
      border-radius: 4px;
    }

    &__submit-button--disabled {
      background-color: #ebeef0;
      cursor: not-allowed;
      color: #a6b3ba;
    }

    &__submit-button--enabled {
      background-color: #5aac44;
      cursor: pointer;
      color: #fff;
    }
  }
}
