@import '../../partials/variables';

.header {
  background-color: $header-color;

  .nav--logged-in {
    min-height: 3rem;
  }

  .nav--logged-out {
    min-height: 4rem;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $header-text-color;

    &__logo {
      font-size: 1.9rem;
      text-decoration: none;
      margin-left: 1rem;
      color: $header-text-color;
    }

    &__inner {
      list-style: none;
      display: flex;

      .user-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 2px solid $header-text-color;
        border-radius: 50px;
        margin-left: 0.2rem !important;

        &:hover {
          cursor: pointer;
          background: hsla(0, 0%, 100%, 0.2);
        }
      }

      // fontawesome classes
      .fa-home::before {
        font-size: 1.2rem;
        color: $header-text-color;
      }

      .fa-trello::before {
        font-size: 1.2rem;
      }

      .fa-plus::before {
        font-size: 1.4rem;
        line-height: 1.2;
      }

      .fa-user::before {
        font-size: 1.6rem;
      }
    }

    &__link {
      color: $header-text-color;
      font-weight: 400;
      text-decoration: none;
      font-size: 1.3rem;

      &:hover {
        text-decoration: underline;
      }
    }

    &__item--border {
      padding: 0.4rem 0.6rem;
      background: hsla(0, 0%, 100%, 0.3);
      margin-left: 0.2rem !important;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
        background-color: hsla(0, 0%, 100%, 0.2);
      }

      .icon-text {
        margin-left: 10px;
      }

      .item::before {
        font-size: 2rem;
      }
    }

    &__item {
      list-style: none;
      text-decoration: none;
      margin-left: 1rem;

      .nav__button {
        background: transparent;
        cursor: pointer;
        color: $header-text-color;
        outline: none;
        border: none;
      }

      .button {
        padding: 0.5rem;
        border-radius: 3px;
        margin-right: 1rem;
        text-decoration: none;
        color: $header-color;
        font-weight: 600;
        line-height: 2rem;
        font-size: 1.3rem;
      }

      // white background blue text
      .button--white {
        background-color: $header-text-color;
      }
    }
  }
}
